.App-header {
    overflow: hidden;
    /*background-color: #FFFEF1;
    border-bottom: medium solid #FFBB02;*/
    /*background-color: #DEE8F1;*/
    /*background-color: #f1f1f1;*/
    padding: 0px 70px;

    /*min-height: 100vh;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: #282c34;
    flex-wrap:wrap;
    justify-content:space-between;
    font-size: 20px;
    font-weight: bold;
}

.App-header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
}

.App-header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.App-header a:hover {
    background-color: #299640;
    /*background-color: #ddd;*/
    color: #FFFEF1;
}

.App-header a.navbar-brand:hover {
    background-color: transparent;
    /*background-color: #ddd;*/
    color: #FFFEF1;
}

.App-header .nav-link.active {
    background-color: #299640;
    color: #FFFEF1;
}

.Header-right {
    margin-left: auto;
    display: flex;
    flex-direction: unset;
    align-items: center;
}

.Account {
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.subAccount{
    display: flex;
    align-items: center;
}

.navbar-brand img{
    max-height: 537px;
    /*padding: 0 15px 0 0;*/
}

.Header-left {
    display: flex;
    flex-direction: unset;
    align-items: center;
}

.Header-right {
    display: flex;
    flex-direction: unset;
    align-items: center;
}
.navbar-brand a:hover, .navbar-brand a:focus-visible{
    background-color: transparent !important;
}

.iconHeader{
    color: #fff;
}

.navbar-brand img{
    width: 50px;
    /*padding: 0 15px 0 0;*/
}
/* mobile */

@media screen and (max-width: 500px) {
    .App-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .Header-left {
        margin-right: 20px;
    }

    .Header-right {
        display: flex;
        align-items: center;
    }

    .Account {
        display: flex;
        align-items: center;
    }

    .Account .user-image {
        margin-right: 10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .Account .welcome-user {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        display: none; /* Hide the greeting on smaller screens */
    }

    .navbar-collapse {
        margin-right: 10px;
    }

    .logoutButton {
        margin-right: 10px;
    }
}