.ContentWrapBrand{
    font-weight: bold;
}

.Contacts {
    max-width: fit-content;
}

.ContentWrap .row {
    padding: 10px 25px;
}

.Brand{
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .ContentWrap .row {
        padding: 10px 5px;
    }
}