/* BUTTONS */

.HoMatesButton,
.HoMatesButton:focus,
.HoMatesButton:active{
    background-color: #299640 !important;
    border-color: #299640 !important;
}

.HoMatesButton:hover{
    background-color: #FFBB02 !important;
    border-color: #FFBB02 !important;
}

.HoMatesButton.btn,
.HoMatesButton.btn.btn-primary.btn-sm:focus{
    background-color: #299640;
    border-color: #299640;
}

.HoMatesButton.btn.btn-primary.btn-sm:hover,
.HoMatesButton.btn.btn-primary.btn-sm:active{
    background-color: #FFBB02;
    border-color: #FFBB02;
}

/* LINKS */

a.simpleLink,
a.simpleLink:link,
a.simpleLink:visited,
a.simpleLink:hover,
a.simpleLink:active{
    color: #299640;
    text-decoration: none;
}

a.simpleLink:hover{
    color: #FFBB02;
    text-decoration: none;
}

/* FORM */

.form-control:hover{
    border-color: #FFBB02 !important;
}

.form-control:focus {
    border-color: #FFBB02 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 187, 2, 0.25) !important;
}

.form-check-input:checked {
    background-color: #299640 !important;
    border-color: #299640 !important;
    box-shadow: 0 0 0 0.25rem rgba(41, 150, 64, 0.25) !important;
}

.form-check-input:focus {
    border-color: #299640 !important;
    box-shadow: 0 0 0 0.25rem rgba(41, 150, 64, 0.25) !important;
}

.accordion-item:hover,
.accordion-button:hover,
.accordion-header:hover{
    border-color: #FFBB02;
    box-shadow: 0 0 0 0.25rem rgba(255, 187, 2, 0.25);
    background-color: white !important;
}

.accordion-item:focus,
.accordion-button:focus,
.accordion-header:focus{
    border-color: #FFBB02 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 187, 2, 0.25)  !important;
    background-color: white !important;
}

.accordion-button:not(.collapsed){
    background-color: white !important;
}
/* TABS */

.HoMatesTab .nav-link {
    color: black !important;
}