.App{
    /*background-color: #f1f1f1;*/
}

.ContentCenter{
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
}

.Content{
    min-height: 50vh;
    background-color: #f1f1f1;
}

.HomeSelectionSelect.form-select{
    width: 300px;
}

.HomeSelectionSelect.form-select:hover{
    border-color: #FFBB02;
    box-shadow: 0 0 0 0.25rem rgba(255, 187, 2, 0.25);
}

.HomeSelectionSelect.form-select.form-select-sm:focus {
    border-color: #FFBB02;
    box-shadow: 0 0 0 0.25rem rgba(255, 187, 2, 0.25);
}

.HomeSelectionButton.btn,
.HomeSelectionButton.btn.btn-primary.btn-sm:focus{
    background-color: #299640;
    border-color: #299640;
}

.HomeSelectionButton.btn.btn-primary.btn-sm:hover,
.HomeSelectionButton.btn.btn-primary.btn-sm:active{
    background-color: #FFBB02;
    border-color: #FFBB02;
}

.HomeSelection .container {
    margin-left: 0;
    max-width: 650px;
}

.HomeSelection .col {
    padding: 0;
}

.HomeSelection{
    margin-bottom: 20px;
}

.ContentWrap{
    background-color: #fff;
    padding: 20px;
    height: fit-content;
}

.IntroducingHoMates img {
    width: 100%;
}

/* Houses button */
.Home {
    position: relative;
}

.Home .HomeButton {
    background-color: #FFBB02 !important;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: 10px solid white !important;
    border-radius: 50px;
    font-size: 30px;
}

/* mobile */

@media screen and (max-width: 500px) {.Home .HomeButton {
    background-color: #FFBB02 !important;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 6px 12px;
    border: 5px solid white !important;
    border-radius: 50px;
}
}